.ui.picture {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 12%;



  .item {
    outline: none;
  }

  .content {
    text-align: center;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;


  .header {
    font-size: 36px;
    margin-bottom: 32px;
  }

  .description {
    width: 70%;
    font-size: 20px;
    line-height: 1.5;
    font-family: arial;
    color: rgba(0,0,0,.5);
  }

  .image {
    > img {
      
        height: auto;
        max-width: 100%;

    }
  }


  .slick-dots {
    bottom: -48px;
  }


  @media only screen and (max-width: 767px) {
    .content {
      .header {
        font-size: 24px;
      }

      .description {
        width: 85%;
        font-size: 16px;
      }
    }
  }
 }
}
